* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.form-container {
    height: 100vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);

}

.form-container label {
    display: block;

    font-size: 18px;
    font-style: bold;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #110101;
}

.form-container form {
    display: flex;
    flex-direction: column;
    background-color: limegreen;
    opacity: .5;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: left;
    padding: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;

    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 0px 20px 10px purple inset;

}

.form-container input {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
textarea{
    padding: 20px;
    width: box-size;
}

.form-container input:focus {
    box-shadow: 0px 1px 2px 5px  greenyellow !important;
    outline: none;
    border: 1px;


}

.form-container form button {
    width: 100%;
    margin-top: 1rem !important;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;



}